@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.cell {
    width: 100px;
    height: 100px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 100px;
    font-size: 50px;
    cursor: pointer;
}

#gameContainer {
    font-family: "Outfit", sans-serif;
    text-align: center;
}

#cellContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 300px;
    margin: auto;
}

#resetBtn {
    background-color: lightblue;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#resetBtn:hover {
    filter: brightness(0.8);
}